@model FeedBack_APP.Models.ViewModels.ChangeDefaultPasswordViewModel
@{
    Layout = null;
    ViewData["Title"] = "Cambiar Contrasena";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style_login.css" />
    <link rel="icon" href="~/lib/images/RTS_emoji.ico" type="image/x-icon">


</head>
<body>
    <div class="login-container">
        <form class="login-form" asp-action="ChangeDefaultPassword" asp-controller="LOGIN" method="post">
            @Html.AntiForgeryToken()
            <h2>Change password</h2>

            <p>Your account is still using the default password. Before continuing, update your access.</p>
            <hr />
            <br />
            <p><strong>Email:</strong> @Model.Email</p>

            <br />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NewPassword">New Password</label>
                <input asp-for="NewPassword" placeholder="Enter the new password" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword">Confirm password</label>
                <input asp-for="ConfirmPassword" placeholder="Confirm your new password" required />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn_feedback">Save and login</button>
        </form>
    </div>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>
